input[type=text]{
    width: 100% ;
    padding: .9rem;
    border-radius: .5rem;
    color: var(--input-placeholder);
    background-color: var(--input-base);
    border: none;
    font: var(--body-md);
    &:focus-within{
        outline: 1px solid var(--brand-light);
    }
}

.input-wrapper{
    width: 100%;
    input:not(#presence, #online){
        border: 1px solid var(--input-stroke);
    }
}

#description{
    padding-bottom: 6rem;
    
}

#contact .input-wrapper input{
    &:invalid{
        border: 1px solid var(--danger-color);
    }

    &:focus-within{
        border: none;
    }

    &:focus + .error{
        display: none;
        
    }
}

#contact{
    margin-top: 3rem;
}